<% include ./partials/header %>
<h1>Login</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Your username.." required>
    <input type="password" name="password" placeholder="Your password.." required>
    <button>Login</button>
</form>

<% include ./partials/footer %>